<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <th:block th:include="include/header-plugins :: header"></th:block>
    <title>忘记密码</title>
    <link href="/static/css/font-awesome.min.css" type="text/css"/>
    <script src="/static/jquery/jquery.cookie.js"></script>
    <style>
        body{
                background:url("/static/images/admin.jpg") no-repeat;
                background-size: 100%;

            }

        div,input,label,a,button,h1,h2,h3,h4,h5{
            font-family: "Microsoft Yahei" !important;
        }
    </style>

</head>
<body style="min-height:800px; height: auto;">

<div class="col-lg-5 col-md-5 "></div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="panel"  style="background-color:#f5f5f5; padding:0 1em 1em 1em;  margin-top: 15em;">
        <div class="panel-heading bk-bg-primary">
            <h6 th:text="${msg}"></h6>
        </div>
        <div class="panel-body">
            <form  action="/user/reset" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">密保问题</span>
                        <input type="text" id="forgetp" name="forgetp" class="form-control" placeholder="输入密保问题答案" />
                    </div>
                </div>

                <div class="form-group login-actions">

                    <button type="submit" class="button btn btn-success btn-largebtn btn-primary button-next pull-right" >提交</button>

                </div>
            </form>
        </div>
    </div>
</div>
</div>z


</body>
</html>



