<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <th:block th:include="include/header-plugins :: header"></th:block>
    <title>用户表单</title>
    <link href="/static/css/font-awesome.min.css" type="text/css"/>
    <script src="/static/js/validator.js"></script>
    <style>
        .main-right span{
            font-size: 14px;
        }
    </style>

</head>
<body style="min-height:800px; height: auto " class="login">
<div class="container-fluid">

    <nav class="navbar navbar-default row no-yj  navbar-fixed-top" th:include="include/common :: nav">
    </nav>


    <div class="row" style="margin-top:70px" >
        <div class="  nav-left col-md-2 no-padding" id="nav-list-left" th:include="include/common :: left_menu"></div>

        <div class="main-right  col-md-10 col-md-offset-2">

            <div class="col-md-3"></div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                <div class="panel" style="background-color:#f5f5f5; padding:0 1em 1em 1em; ">
                    <div class="panel-heading bk-bg-primary">
                        <h4 style="text-align: center;"  ><i class="glyphicon glyphicon-indent red"></i>更新用户</h4>
                    </div>
                    <div class="panel-body">
                        <!--////////-->
                        <form  id="tryitForm" class="form-horizontal"  action="/user/save" method="post" modelAttribute="user">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" id="id" name="id" class="form-control"  th:value="${user.id}" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">用户名</span>
                                    <input type="text" id="username" name="username" class="form-control" th:value="${user.username}"  readonly="true"  required/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">密码</span>
                                    <input type="password" id="password" name="password" class="form-control"th:value="${user.password}"  required />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                </div>
                            </div>




                            <div class="actions">
                                <input type="button" class="btn btn-info button-previous" name="previous" onclick="history.go(-1);"  value="返回" />
                                <input type="submit" class="btn btn-primary button-next pull-right" name="next" value="提交" />
                                <input type="button" class="btn btn-success button-finish pull-right" name="finish" value="Finish" style="display:none"/>
                            </div>
                        </form>


                    </div>
                </div>
            </div>

        </div>

    </div>


</div>


</div>

</body>
</html>


