<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="include/header-plugins :: header"></th:block>
    <title>乡音列表</title>
    <link href="/static/css/trapdel-common.css"/>
    <!--批量删除-->
    <script src="/static/js/trapdel.js"></script>
    <style type="text/css">
        #dataTable  a {
            color:white !important;
        }
        .panel{
            position: relative;
        }

        #add,#trapdel{
            position:absolute ;
            margin-top: 9em;
            margin-left:7em;
            cursor:pointer ;
            color:black !important;
        }
        #trapdel{
            margin-left: 2em;
        }
    </style>
</head>

<body style="min-height:800px; height: auto">
<div class="container-fluid">

    <nav class="navbar navbar-default row no-yj  navbar-fixed-top" th:include="include/common :: nav">
    </nav>


    <div class="row" style="margin-top:70px" >
        <!--左菜边栏-->
        <div class="  nav-left col-md-2 no-padding" id="nav-list-left" th:include="include/common :: left_menu"></div>

        <!--列表-->
        <div class="main-right  col-md-10 col-md-offset-2">
            <a onclick="history.go(-1);"><i class="glyphicon glyphicon-arrow-left" style="cursor:pointer;margin-bottom: 1em;">返回</i></a>

            <!--引用户详情模态框-->
            <div th:include="include/modal :: copy_modal"></div>

            <!--引入删除警告模态框-->
            <div th:include="include/delete_modal :: deleteWarning"></div>


            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3>乡音列表</h3>
                    </div>

                    <span onclick="delList('/xiangyin/deleteXiangyinList','/xiangyin/list');"  class=" glyphicon glyphicon-trash"  id="trapdel" ></span>
                    <div class="panel-body">
                        <table class="table" id="dataTable" >

                        </table>
                    </div>
                </div>
            </div>

        </div>



    </div>


</div>


</div>

</body>
<script >
    var modal=window.document.getElementById("mody-body");

    /*查看详情*/
    function detail(url) {
        var   str="";

        //这里通过ajax请求html的方式装载进模态框中
        $.ajax({
            url:url,
            style:"get",
            dataType:"json",
            success:function (data) {
                var updated=DateTime.format(data.updated, "yyyy-MM-dd HH:mm:ss");
                var created=DateTime.format(data.created, "yyyy-MM-dd HH:mm:ss");

                str +=
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"编号："+'<span>'+data.id + "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"名称："+'<span>'+data.name + "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"类型："+'<span>'+data.type+ "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"音频："+'<span>'+data.record + "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"视频："+'<span>'+data.video + "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"创建日期："+'<span>'+created + "</div>" +
                    "<div class='alert alert-success' role='alert'>" +'<span>'+"更新日期："+'<span>'+updated + "</div>";

                modal.innerHTML = str;

                $("#myModal").modal("show");


            }
        });

    };

  $("#dataTable").bootstrapTable({ // 对应table标签的id
      url: "/xiangyin/list", // 获取表格数据的url
      method: "get",
      dataType: "json",
      search: true,
      cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
      striped: true,  //表格显示条纹，默认为false
      pagination: true, // 在表格底部显示分页组件，默认false
      pageList: [10, 20], // 设置页面可以显示的数据条数
      pageSize: 10, // 页面数据条数
      pageNumber: 1, // 首页页码
      sortName: 'id', // 要排序的字段
      sortOrder: 'desc', // 排序规则
      columns: [
          {
              checkbox: true, // 显示一个勾选框
              align: 'center' // 居中显示
          }, {
              field: 'id', // 返回json数据中的name
              title: '编号', // 表格表头显示文字
              align: 'center', // 左右居中
              valign: 'middle' // 上下居中
          }, {
              field: 'name',
              title: '名字',
              align: 'center',
              valign: 'middle'
          },{
              field: 'type',
              title: '类型',
              align: 'center',
              valign: 'middle'

          }, {
              field: 'record',
              title: '音频',
              align: 'center',
              valign: 'middle',
            formatter:function (value,row,index) {
                  if(value!=null){
                      var str=row.record;
                      console.log(value);

                      if(((str.substring(7,21))!=(window.location.host))||(str==null)){
                          return  '  <a  style="color:black !important;" href="/fail">查看</a>';

                      }
                      return  '  <a  style="color:black !important;" href="'+row.record+'">查看</a>';
                  }else
                  {
                      return  '  <a  style="color:black !important;" href="/fail">查看</a>';
                  }

              }

          }, {
              field: 'video',
              title: '视频',
              align: 'center',
              valign: 'middle',
             formatter:function (value,row,index) {
                  if(value!=null){
                      var str=row.video;
                      if(((str.substring(7,21))!=(window.location.host))||(str==null)){
                          return  '  <a  style="color:black !important;" href="/fail">查看</a>';

                      }
                      return  '  <a  style="color:black !important;" href="'+row.video+'">查看</a>';
                  }else{
                      return  '  <a  style="color:black !important;" href="/fail">查看</a>';
                  }

              }

          },{
              field: 'updated',
              title: '更新时间',
              align: 'center',
              valign: 'middle',
              formatter: function (value, row, index) {
                  return DateTime.format(value, "yyyy-MM-dd HH:mm:ss");
              }

          },{
              title: "操作",
              align: 'center',
              valign: 'middle',
              width: 160, // 定义列的宽度，单位为像素px
              formatter: function (value, row, index) {
                  var  detailurl="/xiangyin/selectById?id="+row.id;
                  var  deleteurl="/xiangyin/deleteById?id="+row.id;
                  return '<buttoun onclick="detail(\''+detailurl+'\');" class="btn btn-sm btn-default btn-sm glyphicon glyphicon-search" ></buttoun>' +  ' <a href="/xiangyin/xiangyin_form?id='+row.id+'" type="button" class="btn btn-sm btn-default btn-primary"><i class="glyphicon glyphicon-edit"></i></a>'+
                      '  <a  onclick="deleteById(\'' +  deleteurl + '\');"type="button"class="btn btn-sm btn-default btn-danger glyphicon glyphicon-trash" ><i ></i></a>';
              }
          }
      ],
      onLoadSuccess: function(){  //加载成功时执行
          console.info("加载成功");
      },
      onLoadError: function(){  //加载失败时执行
          console.info("加载数据失败");
      }

  })

</script>

</html>