<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--导航头-->
 <nav th:fragment="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-list-left" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">贺州学院语言处理系统</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 50px">
                    <img class="img-circle pull-left img-responsive nav-user-img" src="/static/plugins/img/user/user.jpg" /><span class="pull-left nav-username">管理员</span></a>

                    <ul class="dropdown-menu dropdown-menu-right clearfix" style="padding-top: 0px">
                        <li class="user-li-head"><span>
                                    <img class="img-circle nav-user-img-xiala center-block" src="/static/plugins/img/user/user.jpg" /></span>
                            <p></p>
                            <p class="text-center"><span>系统管理员</span></p>
                            <p class="text-center"><span th:text=" ${session.user.username}"></span> </p>
                            <p class="text-center"><small><span   th:text="${#dates.format(session.user.created, 'yyyy-MM-dd HH:mm')}+'加入'"></span></small></p>
                        </li>
                        <li style="padding: 10px 20px; padding-bottom: 20px">

                            <div class="pull-left">
                               <!-- <a href="#" class="btn btn-default btn-flat no-yj">资料</a>-->
                            </div>
                            <div class="pull-right">
                                <a href="/user/logout" class="btn btn-default btn-flat no-yj">注销</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>



    </div>
</nav>

<!--左菜单栏-->
 <div th:fragment="left_menu">

         <div class="user-panel">
             <img src="/static/plugins/img/user/user.jpg" class="img-circle center-block" />
         </div>

         <div class="nav-list" >
             <ul>



                 <li class="nav-left-dropdown " >
                     <a href="javascript:void(0);" class="glyphicon glyphicon-user"> 用户管理</a>
                     <ul class="nav-left-dropdown-menu">
                         <li><a href="/user/user_list">忘记密码</a></li>
                     </ul>
                 </li>
                 <li class="nav-left-dropdown ">
                     <a href="javascript:void(0);" class="glyphicon glyphicon-folder-open"> 内容管理</a>
                     <ul class="nav-left-dropdown-menu">
                         <li><a href="/content/category/list">分类管理</a></li>
                         <li><a href="/content/contadd">新增内容</a></li>
                         <li><a href="/content/areaContents">内容列表</a></li>
                     </ul>
                 </li>
                 <li class="nav-left-dropdown " >
                     <a href="javascript:void(0);" class="glyphicon glyphicon-folder-open"> 乡音管理</a>
                     <ul class="nav-left-dropdown-menu">
                         <li><a href="/xiangyin/xiangyinList">乡音列表</a></li>
                     </ul>
                 </li>


                 <li class="nav-left-dropdown ">
                     <a href="javascript:void(0);" class="glyphicon glyphicon-envelope"> 新闻动态</a>
                     <ul class="nav-left-dropdown-menu">
                         <li><a href="/news/newsform">新增新闻</a></li>
                         <li><a href="/news/newsList">新闻列表</a></li>
                     </ul>
                 </li>
             </ul>
     </div>


 </div>
</html>