<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <!--basic-css-start-->
    <link href="/static/boostrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/plugins/css/base.css" rel="stylesheet" />
    <!--basic-css-end-->
    <!--zTree-->
    <link rel="stylesheet" type="text/css" href="/static/jquery-ztree/css/zTreeStyle/zTreeStyle.min.css"/>

    <!--treeTable.css-->
    <link rel="stylesheet" type="text/css" href="/static/treeTable/themes/vsStyle/treeTable.min.css">


    <!--basic-js-begin-->
        <script src="/static/jquery/jquery-3.3.1.min.js"></script>
        <script src="/static/boostrap/js/bootstrap.min.js"></script>
        <script src="/static/js/basic.js"></script>

    <!--basic-js-end-->

    <!--treeTable.js-->
    <script src="/static/treeTable/jquery.treeTable.min.js"></script>

    <!--zTree.js-->
    <script src="/static/jquery-ztree/js/jquery.ztree.core-3.5.min.js"></script>

    <script src="/static/js/datetime.js"></script>


    <!--boostrap验证-->
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css"/>
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!---->
    <script src="/static/jquery/validate/jquery.validate.min.js"></script>
    <link href="/static/css/font-awesome.min.css" type="text/css"/>
    <!--表单认证-->

    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>


</head>
</html>